{% extends 'base.html.twig' %}

{% block title %}About {{ parent() }}{% endblock %}


{% block body %}
	<section class="section section-with-shape-divider page-header page-header-modern page-header-lg border-0 my-0 lazyload" data-bg-src="img/demos/business-consulting-3/backgrounds/background-5.jpg" style="background-size: cover; background-position: center;">
		<div class="container pb-5 my-3">
			<div class="row mb-4">
				<div class="col-md-12 align-self-center p-static order-2 text-center">
					<h1 class="font-weight-bold text-color-dark text-10">About Us</h1>
				</div>
				<div class="col-md-12 align-self-center order-1">
					<ul class="breadcrumb d-block text-center">
						<li><a href="demo-business-consulting-3.html">Home</a></li>
						<li class="active">About Us</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="shape-divider shape-divider-bottom shape-divider-reverse-x" style="height: 123px;">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 123" preserveAspectRatio="xMinYMin">
				<polygon fill="#F3F3F3" points="0,90 221,60 563,88 931,35 1408,93 1920,41 1920,-1 0,-1 "/>
				<polygon fill="#FFFFFF" points="0,75 219,44 563,72 930,19 1408,77 1920,25 1920,-1 0,-1 "/>
			</svg>
		</div>
	</section>

	<div class="container pt-3 mt-4">
		<div class="row">
			<div class="col">
				<h2 class="text-9 text-lg-5 text-xl-9 line-height-3 text-transform-none font-weight-semibold mb-4 mb-lg-3 mb-xl-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="250">We deliver the most advanced strategies for your business</h2>
				<p class="text-3-5 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="500">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vulputate posuere tortor luctus vulputate. Cras laoreet pretium blandit. Vestibulum luctus laoreet lacinia. Maecenas luctus arcu ut orci lacinia ultrices. Praesent semper porta interdum. Etiam cursus, tortor at interdum rutrum, metus nibh tincidunt purus, non tincidunt odio arcu quis erat.</p>
				<p class="mb-5 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="750">Curabitur vulputate posuere tortor luctus vulputate. Cras laoreet pretium blandit. Vestibulum luctus laoreet lacinia. Maecenas luctus arcu ut orci lacinia ultrices. Praesent semper porta interdum. Etiam cursus, tortor at interdum rutrum, metus nibh tincidunt purus, non tincidunt odio arcu quis erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vulputate posuere tortor luctus vulputate. Cras laoreet pretium blandit. Vestibulum luctus laoreet lacinia. </p>
				<div class="row row-gutter-sm align-items-center pb-3 mb-5">
					<div class="col-lg-6 col-xl-7">
						<div class="row flex-xl-nowrap align-items-center mb-4 mb-lg-0">
							<div class="col-sm-auto mb-4 mb-sm-0">
								<div class="d-flex appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="1000">
									<img width="63" height="63" src="img/demos/business-consulting-3/icons/label.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'd-lg-none d-xl-block'}" />
									<span class="text-3 font-weight-bold text-color-dark pt-2 ms-3">
													<strong class="d-block font-weight-bold text-10 mb-0">240+</strong>
													Satisfied Clients
												</span>
								</div>
							</div>
							<div class="col-sm-7 col-md-8">
								<blockquote class="custom-blockquote-style-1 m-0 pt-1 pb-2 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="1200">
									<p class="mb-0">Cras a elit sit amet leo accumsan volutpat. Suspendisse hendreriast ehicula leo. </p>
								</blockquote>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-xl-5">
						<div class="row row-gutter-sm align-items-center">
							<div class="col-auto appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="1400">
								<a href="demo-business-consulting-3-contact.html" class="btn btn-primary custom-btn-style-1 font-weight-semibold btn-px-3 btn-py-2 text-3-5" data-cursor-effect-hover="plus" data-cursor-effect-hover-color="light"><span>Get a Quote</span></a>
							</div>
							<div class="col-auto appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="1600">
								<a href="demo-business-consulting-3-contact.html" class="btn btn-dark custom-btn-style-1 font-weight-semibold btn-px-3 btn-py-2 text-3-5" data-cursor-effect-hover="plus" data-cursor-effect-hover-color="light"><span>Contact Us</span></a>
							</div>
							<div class="col-auto mt-4 mt-sm-0 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="1800">
											<span class="d-flex align-items-center p-0">
												<span>
													<img width="25" height="25" src="img/demos/business-consulting-3/icons/phone.svg" alt="Phone Icon" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-dark'}" />
												</span>
												<a class="text-color-dark text-color-hover-primary text-decoration-none font-weight-semibold text-3 ms-2" href="tel:1234567890">(800) 123-4567</a>
											</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row row-gutter-sm">
			<div class="col-sm-6 mb-4 mb-sm-0">
				<img src="img/demos/business-consulting-3/generic/generic-5.jpg" class="img-fluid box-shadow-5 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="800" alt="" />
			</div>
			<div class="col-6 col-sm-3">
				<img src="img/demos/business-consulting-3/generic/generic-1.jpg" class="img-fluid box-shadow-5 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="600" alt="" />
			</div>
			<div class="col-6 col-sm-3">
				<img src="img/demos/business-consulting-3/generic/generic-2.jpg" class="img-fluid box-shadow-5 mb-4 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200" alt="" />
				<img src="img/demos/business-consulting-3/generic/generic-3.jpg" class="img-fluid box-shadow-5 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="400" alt="" />
			</div>
		</div>
	</div>

	<div class="container-fluid pt-5 mt-5 mb-4">
		<div class="row">
			<div class="col appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="250">
				<div class="owl-carousel owl-theme carousel-center-active-item custom-carousel-vertical-center-items custom-dots-style-1" data-plugin-options="{'responsive': {'0': {'items': 1}, '476': {'items': 3}, '768': {'items': 3}, '992': {'items': 5}, '1200': {'items': 5}, '1600': {'items': 7}}, 'autoplay': false, 'autoplayTimeout': 3000, 'dots': true}">
					<div class="text-center">
						<img class="d-inline-block img-fluid" src="img/logos/logo-8.png" alt="" style="max-width: 90px;" />
					</div>
					<div class="text-center">
						<img class="d-inline-block img-fluid" src="img/logos/logo-9.png" alt="" style="max-width: 140px;" />
					</div>
					<div class="text-center">
						<img class="d-inline-block img-fluid" src="img/logos/logo-10.png" alt="" style="max-width: 140px;" />
					</div>
					<div class="text-center">
						<img class="d-inline-block img-fluid" src="img/logos/logo-11.png" alt="" style="max-width: 140px;" />
					</div>
					<div class="text-center">
						<img class="d-inline-block img-fluid" src="img/logos/logo-12.png" alt="" style="max-width: 100px;" />
					</div>
					<div class="text-center">
						<img class="d-inline-block img-fluid" src="img/logos/logo-13.png" alt="" style="max-width: 100px;" />
					</div>
					<div class="text-center">
						<img class="d-inline-block img-fluid" src="img/logos/logo-14.png" alt="" style="max-width: 140px;" />
					</div>
					<div class="text-center">
						<img class="d-inline-block img-fluid" src="img/logos/logo-15.png" alt="" style="max-width: 110px;" />
					</div>
				</div>
			</div>
		</div>
	</div>

	<section class="section section-height-4 section-with-shape-divider bg-color-grey border-0 pb-5 m-0">
		<div class="shape-divider" style="height: 123px;">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 123" preserveAspectRatio="xMinYMin">
				<polygon fill="#F3F3F3" points="0,90 221,60 563,88 931,35 1408,93 1920,41 1920,-1 0,-1 "/>
				<polygon fill="#FFFFFF" points="0,75 219,44 563,72 930,19 1408,77 1920,25 1920,-1 0,-1 "/>
			</svg>
		</div>
		<div class="container pb-5">
			<div class="row align-items-center py-2 my-5 mb-lg-0 my-xl-5">
				<div class="col-lg-7 mb-5 mb-lg-0">
					<h2 class="text-9 line-height-3 text-transform-none font-weight-semibold mb-4">Skills That Make a Meaningful Difference for Your Business</h2>
					<p class="text-3-5 pb-3 mb-4">Cras a elit sit amet leo accumsan volutpat. Suspendisse hendreriast ehicula leo, vel efficitur felis ultrices non. Cras a elit sit amet leo acun volutpat. </p>
					<div class="progress-bars pb-5">
						<div class="progress-label d-flex justify-content-between">
							<span class="text-color-dark font-weight-semibold text-2">STRATEGY ACCELERATION</span>
							<span class="text-color-dark font-weight-semibold text-2">90%</span>
						</div>
						<div class="progress progress-xs progress-no-border-radius bg-color-grey-200 mb-4">
							<div class="progress-bar progress-bar-primary" data-appear-progress-animation="90%"></div>
						</div>

						<div class="progress-label d-flex justify-content-between pt-2">
							<span class="text-color-dark font-weight-semibold text-2">REVENUE GROWTH</span>
							<span class="text-color-dark font-weight-semibold text-2">80%</span>
						</div>
						<div class="progress progress-xs progress-no-border-radius bg-color-grey-200 mb-4">
							<div class="progress-bar progress-bar-primary" data-appear-progress-animation="80%"></div>
						</div>

						<div class="progress-label d-flex justify-content-between pt-2">
							<span class="text-color-dark font-weight-semibold text-2">FIREWALK SALES</span>
							<span class="text-color-dark font-weight-semibold text-2">50%</span>
						</div>
						<div class="progress progress-xs progress-no-border-radius bg-color-grey-200 mb-4">
							<div class="progress-bar progress-bar-primary" data-appear-progress-animation="50%"></div>
						</div>
					</div>
				</div>
				<div class="col-lg-5">
					<img src="img/demos/business-consulting-3/generic/generic-4-grey.jpg" class="img-fluid" alt="" />
				</div>
			</div>
		</div>
		<div class="shape-divider shape-divider-bottom shape-divider-reverse-x" style="height: 123px;">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 123" preserveAspectRatio="xMinYMin">
				<polygon fill="#F3F3F3" points="0,90 221,60 563,88 931,35 1408,93 1920,41 1920,-1 0,-1 "/>
				<polygon fill="#FFFFFF" points="0,75 219,44 563,72 930,19 1408,77 1920,25 1920,-1 0,-1 "/>
			</svg>
		</div>
	</section>

	<div class="container py-5 mb-5">
		<div class="row">
			<div class="col">

				<div class="tabs tabs-bottom tabs-center tabs-simple custom-tabs-style-1">
					<ul class="nav nav-tabs">
						<li class="nav-item">
							<a class="nav-link active" href="#tabsNavigationManifesto" data-bs-toggle="tab">Manifesto</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#tabsNavigationVision" data-bs-toggle="tab">Vision</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#tabsNavigationMission" data-bs-toggle="tab">Mission</a>
						</li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="tabsNavigationManifesto">
							<div class="text-center">
								<p class="text-3-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vulputate posuere tortor luctus vulputate. Cras laoreet pretium blandit. Vestibulum luctus laoreet lacinia. Maecenas luctus arcu ut orci lacinia ultrices. Praesent semper porta interdum. Etiam cursus, tortor at interdum rutrum, metus nibh tincidunt purus, non tincidunt odio arcu quis erat.</p>
								<p class="text-3">Curabitur vulputate posuere tortor luctus vulputate. Cras laoreet pretium blandit. Vestibulum luctus laoreet lacinia. Maecenas luctus arcu ut orci lacinia ultrices. Praesent semper porta interdum. Etiam cursus, tortor at interdum rutrum, metus nibh tincidunt purus, non tincidunt odio arcu quis erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vulputate posuere tortor luctus vulputate. Cras laoreet pretium blandit. Vestibulum luctus laoreet lacinia. </p>
							</div>
						</div>
						<div class="tab-pane" id="tabsNavigationVision">
							<div class="text-center">
								<p class="text-3-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vulputate posuere tortor luctus vulputate. Cras laoreet pretium blandit. Vestibulum luctus laoreet lacinia. Maecenas luctus arcu ut orci lacinia ultrices. Praesent semper porta interdum. Etiam cursus, tortor at interdum rutrum, metus nibh tincidunt purus, non tincidunt odio arcu quis erat.</p>
								<p class="text-3">Curabitur vulputate posuere tortor luctus vulputate. Cras laoreet pretium blandit. Vestibulum luctus laoreet lacinia. Maecenas luctus arcu ut orci lacinia ultrices. Cras laoreet pretium blandit. Vestibulum luctus laoreet lacinia. </p>
							</div>
						</div>
						<div class="tab-pane" id="tabsNavigationMission">
							<div class="text-center">
								<p class="text-3-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vulputate posuere tortor luctus vulputate. Praesent semper porta interdum. Etiam cursus, tortor at interdum rutrum, metus nibh tincidunt purus, non tincidunt odio arcu quis erat.</p>
								<p class="text-3">Curabitur vulputate posuere tortor luctus vulputate. Cras laoreet pretium blandit. Vestibulum luctus laoreet lacinia. Maecenas luctus arcu ut orci lacinia ultrices. Praesent semper porta interdum. Etiam cursus, tortor at interdum rutrum, metus nibh tincidunt purus, non tincidunt odio arcu quis erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vulputate posuere tortor luctus vulputate. Cras laoreet pretium blandit. Vestibulum luctus laoreet lacinia. </p>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
{% endblock %}
