{% extends 'base.html.twig' %}

{% block title %}Team {{ parent() }}{% endblock %}

{% block body %}
	<section class="section section-with-shape-divider page-header page-header-modern page-header-lg border-0 my-0 lazyload" data-bg-src="img/demos/business-consulting-3/backgrounds/background-5.jpg" style="background-size: cover; background-position: center;">
		<div class="container pb-5 my-3">
			<div class="row mb-4">
				<div class="col-md-12 align-self-center p-static order-2 text-center">
					<h1 class="font-weight-bold text-color-dark text-10">Team</h1>
				</div>
				<div class="col-md-12 align-self-center order-1">
					<ul class="breadcrumb d-block text-center">
						<li><a href="demo-business-consulting-3.html">Home</a></li>
						<li class="active">Team</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="shape-divider shape-divider-bottom shape-divider-reverse-x" style="height: 123px;">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 123" preserveAspectRatio="xMinYMin">
				<polygon fill="#F3F3F3" points="0,90 221,60 563,88 931,35 1408,93 1920,41 1920,-1 0,-1 "/>
				<polygon fill="#FFFFFF" points="0,75 219,44 563,72 930,19 1408,77 1920,25 1920,-1 0,-1 "/>
			</svg>
		</div>
	</section>
	<div class="container pt-3 pb-5 mt-4 mb-5">
		<div class="row">
			<div class="col text-center">
				<h2 class="text-9 text-lg-5 text-xl-9 line-height-3 text-transform-none font-weight-semibold mb-4 mb-lg-3 mb-xl-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="250">The best professionals for your business</h2>
				<p class="text-3-5 mb-5 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="500">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vulputate posuere tortor luctus vulputate. Cras laoreet pretium blandit. Vestibulum luctus laoreet lacinia. Maecenas luctus arcu ut orci lacinia ultrices. </p>
			</div>
		</div>
		<div id="john" class="row mb-5 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="750">
			<div class="col">
				<div class="d-flex flex-wrap bg-light box-shadow-4 custom-link-hover-effects">
					<div class="position-relative lazyload col-12 col-md-4" data-bg-src="img/demos/business-consulting-3/team/team-1.jpg" style="background-position: center; background-size: cover; min-height: 320px;">
						<div class="position-absolute bottom-0 left-0 w-100 py-3 px-4 z-index-3">
							<div class="custom-crooked-line">
								<img width="154" height="26" src="img/demos/business-consulting-3/icons/infinite-crooked-line.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary'}" style="width: 154px;" />
							</div>
						</div>
					</div>
					<div class="col-md-8 p-5">
						<div class="d-flex justify-content-between justify-content-md-start mb-4">
							<div>
								<h2 class="font-weight-semibold text-6 line-height-1 mb-0">John Doe</h2>
								<p class="text-3-5 mb-0">CEO and Founder</p>
							</div>
							<div class="bg-color-grey ms-4 me-1 d-none d-md-block" style="width: 8px;"></div>
							<ul class="social-icons social-icons-clean social-icons-icon-dark social-icons-big m-0 ms-lg-2">
								<li class="social-icons-instagram">
									<a href="http://www.instagram.com/" target="_blank" class="text-4" title="Instagram" data-cursor-effect-hover="fit"><i class="fab fa-instagram"></i></a>
								</li>
								<li class="social-icons-x">
									<a href="http://www.twitter.com/" target="_blank" class="text-4" title="Twitter" data-cursor-effect-hover="fit"><i class="fab fa-x-twitter"></i></a>
								</li>
								<li class="social-icons-facebook">
									<a href="http://www.facebook.com/" target="_blank" class="text-4" title="Facebook" data-cursor-effect-hover="fit"><i class="fab fa-facebook-f"></i></a>
								</li>
							</ul>
						</div>
						<div class="custom-read-more-style-1" data-plugin-readmore
							 data-plugin-options="{
											'buttonOpenLabel': 'View More <i class=\'fas fa-chevron-down text-2 ms-1\'></i>',
											'buttonCloseLabel': 'View Less <i class=\'fas fa-chevron-up text-2 ms-1\'></i>',
											'maxHeight': 160
										}">
							<p class="text-3-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vulputate posuere tortor luctus vulputate. Cras laoreet pretium blandit. </p>
							<p class="text-3-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vulputate posuere tortor luctus vulputate. Cras laoreet pretium blandit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vulputate posuere tortor luctus vulputate. Cras laoreet pretium blandit. </p>
							<p class="text-3-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vulputate posuere tortor luctus vulputate. Cras laoreet pretium blandit. </p>
							<div class="readmore-button-wrapper d-none">
								<a href="#" class="text-decoration-none">
									View More
									<i class="fas fa-chevron-down"></i>
								</a>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		<div id="robert" class="row mb-5 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="250">
			<div class="col">
				<div class="d-flex flex-wrap bg-light box-shadow-4 custom-link-hover-effects">
					<div class="position-relative lazyload col-12 col-md-4" data-bg-src="img/demos/business-consulting-3/team/team-2.jpg" style="background-position: center; background-size: cover; min-height: 320px;">
						<div class="position-absolute bottom-0 left-0 w-100 py-3 px-4 z-index-3">
							<div class="custom-crooked-line">
								<img width="154" height="26" src="img/demos/business-consulting-3/icons/infinite-crooked-line.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary'}" style="width: 154px;" />
							</div>
						</div>
					</div>
					<div class="col-md-8 p-5">
						<div class="d-flex justify-content-between justify-content-md-start mb-4">
							<div>
								<h2 class="font-weight-semibold text-6 line-height-1 mb-0">Robert Doe</h2>
								<p class="text-3-5 mb-0">CEO and Founder</p>
							</div>
							<div class="bg-color-grey ms-4 me-1 d-none d-md-block" style="width: 8px;"></div>
							<ul class="social-icons social-icons-clean social-icons-icon-dark social-icons-big m-0 ms-lg-2">
								<li class="social-icons-instagram">
									<a href="http://www.instagram.com/" target="_blank" class="text-4" title="Instagram" data-cursor-effect-hover="fit"><i class="fab fa-instagram"></i></a>
								</li>
								<li class="social-icons-x">
									<a href="http://www.twitter.com/" target="_blank" class="text-4" title="Twitter" data-cursor-effect-hover="fit"><i class="fab fa-x-twitter"></i></a>
								</li>
								<li class="social-icons-facebook">
									<a href="http://www.facebook.com/" target="_blank" class="text-4" title="Facebook" data-cursor-effect-hover="fit"><i class="fab fa-facebook-f"></i></a>
								</li>
							</ul>
						</div>
						<div class="custom-read-more-style-1" data-plugin-readmore
							 data-plugin-options="{
											'buttonOpenLabel': 'View More <i class=\'fas fa-chevron-down text-2 ms-1\'></i>',
											'buttonCloseLabel': 'View Less <i class=\'fas fa-chevron-up text-2 ms-1\'></i>',
											'maxHeight': 160
										}">
							<p class="text-3-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vulputate posuere tortor luctus vulputate. Cras laoreet pretium blandit. </p>
							<p class="text-3-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vulputate posuere tortor luctus vulputate. Cras laoreet pretium blandit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vulputate posuere tortor luctus vulputate. Cras laoreet pretium blandit. </p>
							<p class="text-3-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vulputate posuere tortor luctus vulputate. Cras laoreet pretium blandit. </p>
							<div class="readmore-button-wrapper d-none">
								<a href="#" class="text-decoration-none">
									View More
									<i class="fas fa-chevron-down"></i>
								</a>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		<div id="jessica" class="row mb-5 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="250">
			<div class="col">
				<div class="d-flex flex-wrap bg-light box-shadow-4 custom-link-hover-effects">
					<div class="position-relative lazyload col-12 col-md-4" data-bg-src="img/demos/business-consulting-3/team/team-3.jpg" style="background-position: center; background-size: cover; min-height: 320px;">
						<div class="position-absolute bottom-0 left-0 w-100 py-3 px-4 z-index-3">
							<div class="custom-crooked-line">
								<img width="154" height="26" src="img/demos/business-consulting-3/icons/infinite-crooked-line.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary'}" style="width: 154px;" />
							</div>
						</div>
					</div>
					<div class="col-md-8 p-5">
						<div class="d-flex justify-content-between justify-content-md-start mb-4">
							<div>
								<h2 class="font-weight-semibold text-6 line-height-1 mb-0">Jessica Doe</h2>
								<p class="text-3-5 mb-0">CEO and Founder</p>
							</div>
							<div class="bg-color-grey ms-4 me-1 d-none d-md-block" style="width: 8px;"></div>
							<ul class="social-icons social-icons-clean social-icons-icon-dark social-icons-big m-0 ms-lg-2">
								<li class="social-icons-instagram">
									<a href="http://www.instagram.com/" target="_blank" class="text-4" title="Instagram" data-cursor-effect-hover="fit"><i class="fab fa-instagram"></i></a>
								</li>
								<li class="social-icons-x">
									<a href="http://www.twitter.com/" target="_blank" class="text-4" title="Twitter" data-cursor-effect-hover="fit"><i class="fab fa-x-twitter"></i></a>
								</li>
								<li class="social-icons-facebook">
									<a href="http://www.facebook.com/" target="_blank" class="text-4" title="Facebook" data-cursor-effect-hover="fit"><i class="fab fa-facebook-f"></i></a>
								</li>
							</ul>
						</div>
						<div class="custom-read-more-style-1" data-plugin-readmore
							 data-plugin-options="{
											'buttonOpenLabel': 'View More <i class=\'fas fa-chevron-down text-2 ms-1\'></i>',
											'buttonCloseLabel': 'View Less <i class=\'fas fa-chevron-up text-2 ms-1\'></i>',
											'maxHeight': 160
										}">
							<p class="text-3-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vulputate posuere tortor luctus vulputate. Cras laoreet pretium blandit. </p>
							<p class="text-3-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vulputate posuere tortor luctus vulputate. Cras laoreet pretium blandit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vulputate posuere tortor luctus vulputate. Cras laoreet pretium blandit. </p>
							<p class="text-3-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vulputate posuere tortor luctus vulputate. Cras laoreet pretium blandit. </p>
							<div class="readmore-button-wrapper d-none">
								<a href="#" class="text-decoration-none">
									View More
									<i class="fas fa-chevron-down"></i>
								</a>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		<div id="monica" class="row mb-5 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="250">
			<div class="col">
				<div class="d-flex flex-wrap bg-light box-shadow-4 custom-link-hover-effects">
					<div class="position-relative lazyload col-12 col-md-4" data-bg-src="img/demos/business-consulting-3/team/team-4.jpg" style="background-position: center; background-size: cover; min-height: 320px;">
						<div class="position-absolute bottom-0 left-0 w-100 py-3 px-4 z-index-3">
							<div class="custom-crooked-line">
								<img width="154" height="26" src="img/demos/business-consulting-3/icons/infinite-crooked-line.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary'}" style="width: 154px;" />
							</div>
						</div>
					</div>
					<div class="col-md-8 p-5">
						<div class="d-flex justify-content-between justify-content-md-start mb-4">
							<div>
								<h2 class="font-weight-semibold text-6 line-height-1 mb-0">Monica Doe</h2>
								<p class="text-3-5 mb-0">CEO and Founder</p>
							</div>
							<div class="bg-color-grey ms-4 me-1 d-none d-md-block" style="width: 8px;"></div>
							<ul class="social-icons social-icons-clean social-icons-icon-dark social-icons-big m-0 ms-lg-2">
								<li class="social-icons-instagram">
									<a href="http://www.instagram.com/" target="_blank" class="text-4" title="Instagram" data-cursor-effect-hover="fit"><i class="fab fa-instagram"></i></a>
								</li>
								<li class="social-icons-x">
									<a href="http://www.twitter.com/" target="_blank" class="text-4" title="Twitter" data-cursor-effect-hover="fit"><i class="fab fa-x-twitter"></i></a>
								</li>
								<li class="social-icons-facebook">
									<a href="http://www.facebook.com/" target="_blank" class="text-4" title="Facebook" data-cursor-effect-hover="fit"><i class="fab fa-facebook-f"></i></a>
								</li>
							</ul>
						</div>
						<div class="custom-read-more-style-1" data-plugin-readmore
							 data-plugin-options="{
											'buttonOpenLabel': 'View More <i class=\'fas fa-chevron-down text-2 ms-1\'></i>',
											'buttonCloseLabel': 'View Less <i class=\'fas fa-chevron-up text-2 ms-1\'></i>',
											'maxHeight': 160
										}">
							<p class="text-3-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vulputate posuere tortor luctus vulputate. Cras laoreet pretium blandit. </p>
							<p class="text-3-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vulputate posuere tortor luctus vulputate. Cras laoreet pretium blandit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vulputate posuere tortor luctus vulputate. Cras laoreet pretium blandit. </p>
							<p class="text-3-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vulputate posuere tortor luctus vulputate. Cras laoreet pretium blandit. </p>
							<div class="readmore-button-wrapper d-none">
								<a href="#" class="text-decoration-none">
									View More
									<i class="fas fa-chevron-down"></i>
								</a>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		<div id="chris" class="row appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="250">
			<div class="col">
				<div class="d-flex flex-wrap bg-light box-shadow-4 custom-link-hover-effects">
					<div class="position-relative lazyload col-12 col-md-4" data-bg-src="img/demos/business-consulting-3/team/team-5.jpg" style="background-position: center; background-size: cover; min-height: 320px;">
						<div class="position-absolute bottom-0 left-0 w-100 py-3 px-4 z-index-3">
							<div class="custom-crooked-line">
								<img width="154" height="26" src="img/demos/business-consulting-3/icons/infinite-crooked-line.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary'}" style="width: 154px;" />
							</div>
						</div>
					</div>
					<div class="col-md-8 p-5">
						<div class="d-flex justify-content-between justify-content-md-start mb-4">
							<div>
								<h2 class="font-weight-semibold text-6 line-height-1 mb-0">Chris Doe</h2>
								<p class="text-3-5 mb-0">CEO and Founder</p>
							</div>
							<div class="bg-color-grey ms-4 me-1 d-none d-md-block" style="width: 8px;"></div>
							<ul class="social-icons social-icons-clean social-icons-icon-dark social-icons-big m-0 ms-lg-2">
								<li class="social-icons-instagram">
									<a href="http://www.instagram.com/" target="_blank" class="text-4" title="Instagram" data-cursor-effect-hover="fit"><i class="fab fa-instagram"></i></a>
								</li>
								<li class="social-icons-x">
									<a href="http://www.twitter.com/" target="_blank" class="text-4" title="Twitter" data-cursor-effect-hover="fit"><i class="fab fa-x-twitter"></i></a>
								</li>
								<li class="social-icons-facebook">
									<a href="http://www.facebook.com/" target="_blank" class="text-4" title="Facebook" data-cursor-effect-hover="fit"><i class="fab fa-facebook-f"></i></a>
								</li>
							</ul>
						</div>
						<div class="custom-read-more-style-1" data-plugin-readmore
							 data-plugin-options="{
											'buttonOpenLabel': 'View More <i class=\'fas fa-chevron-down text-2 ms-1\'></i>',
											'buttonCloseLabel': 'View Less <i class=\'fas fa-chevron-up text-2 ms-1\'></i>',
											'maxHeight': 160
										}">
							<p class="text-3-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vulputate posuere tortor luctus vulputate. Cras laoreet pretium blandit. </p>
							<p class="text-3-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vulputate posuere tortor luctus vulputate. Cras laoreet pretium blandit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vulputate posuere tortor luctus vulputate. Cras laoreet pretium blandit. </p>
							<p class="text-3-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vulputate posuere tortor luctus vulputate. Cras laoreet pretium blandit. </p>
							<div class="readmore-button-wrapper d-none">
								<a href="#" class="text-decoration-none">
									View More
									<i class="fas fa-chevron-down"></i>
								</a>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

